* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quiz {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.quiz-items {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
}

.btn {
  margin: 0;
  padding: 15px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
